@charset "windows-1252";

td {
    padding: 0.2em 1em;
    
   
    
}

th {
    text-align: center;
    text-transform: uppercase;
    height: 100%;
}

thead {
    
    cursor: pointer;
}

.uib-datepicker-popup.dropdown-menu{ z-index: 9999 !important;}

table.uib-daypicker{
	    font-size: 3.5px;
	
}

.form-control{
	
	
}
.input-group .form-control {
    height: 10px;
    padding: 11px;
    overflow: visible; 
    color: aliceblue;
    background:#153D5F ;
}

.input-group .btn {
    padding: 1px 2px;
}
.table{
	border: 1px solid black; 
	margin: 0px auto;
	width: 95%;
}

.container-4{
	overflow: visible;
  width: 550px;
 float: right;
  white-space: nowrap;
  position:relative;
  margin-right:50px;
}

.container-4 input#search{
  width: 200px;
  height: 52px;
  background:#153D5F ;
  border: none;
  font-size: 10pt;
  float: left;
  color: white;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
 
  border: none;
  background: #232833;
  height: 52px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -300px;
  }
 
  .container-4:hover button.icon:hover{
    background: white;
  }
.container-3{
	width:450px;
	float:left;
	margin-left:200px;
	padding-bottom: 50px;
	position: relative;
    display: inline-block;
}

.select-control{
  border: none;
  font-size: 10pt;
  color:aliceblue;
  width: 200px;
  height: 52px;
  background:rgba(2, 27, 49, 0.78);
      border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.select-control option{
 
  background: rgba(2, 27, 49, 0.78);
}

.search {
    text-align: center;
    height: 200px;
   
    overflow: hidden;
    width: 95%;
    border: 2px solid black;
    background: #337ab7;
    margin: 0 auto;
    font-size: 20pt;
    vertical-align:middle;
    
}
label{
	font-family: -webkit-body;
	margin-top: 10px;
}

.main {
     text-align: center;
    padding: 30px 10px 2px 11px;
    overflow: hidden;
   
    border: 1px solid black;
    background: #BEC2C3;
}

.image{
	width:80px;
	height:80px;
	
}
.loading{
	height:100%;
	text-align: center;
	
}
.loading-image{
	margin-top:20%;
	 width:200px; 
	 height:200px;
}